<div>
			<div class="hero-wrap hero-bread" style="background-image: url('images/EGAC\ LOGO.png');">
				<div class="container">
					<div class="row no-gutters slider-text align-items-center justify-content-center"></div>
				</div>
			</div>
		</div>

		<div class="shopping-section">
			<section class="ftco-section">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-md-10 mb-5 text-center">
							<ul class="product-category">
								<li><button class="btn-filter active" data-filter="todos">Todos</button></li>
								<%for(let i=0; i<listaCategorias.length; i++) {%>
									<li><button class="btn-filter" data-filter="<%=listaCategorias[i].nome.toLowerCase()%>"><%=listaCategorias[i].nome%></button></li>
								<%}%>
							</ul>
						</div>
					</div>
					<div class="row">
						<%for(let i=0; i<listaProdutos.length; i++) {%>
						<div class="col-md-6 col-lg-3 ftco-animate">
							<div class="product" data-category="<%=listaProdutos[i].categoria_nome.toLowerCase()%>" data-name="<%=listaProdutos[i].nome%>"
								data-price="<%=listaProdutos[i].preco%>" data-img="images/produto-default.png">
								<a href="#" class="img-prod"><img class="img-fluid" src="images/produto-default.png"
										alt="<%=listaProdutos[i].nome%>">
									<div class="overlay"></div>
								</a>
								<div class="text py-3 pb-4 px-3 text-center">
									<h3><a href="#"><%=listaProdutos[i].nome%></a></h3>
									<div class="d-flex">
										<div class="pricing">
											<p class="price"><span>R$<%=listaProdutos[i].preco%></span></p>
										</div>
									</div>
									<div class="bottom-area d-flex px-3">
										<div class="m-auto d-flex">
											<a href="#"
												class="buy-now d-flex justify-content-center align-items-center mx-1">
												<span><i class="ion-ios-cart"></i></span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<%}%>
					</div>
					<div class="row mt-5">
					</div>
							</div>
							<hr style="width: 50%; margin: 20px auto; border: 1px solid #35b831;">
							<br>
							<br>
							<br>
							<div class="row justify-content-center product" data-category="tecnologia" data-name="Drone AgroTech Fast" data-price="4890.00" data-img="images/drone.jpg">
								<div class="col-md-12 d-flex align-items-center ftco-animate">

									<div class="col-md-6">
										<img class="img-fluid" src="images/drone.jpg"
											alt="Suplemento Mineral Creatina 1kg">
									</div>


									<div class="col-md-6">
										<h3>Drone AgroTech Fast</h3>
										<p class="subtitulo">Monitoramento Inteligente para o Agronegócio - Otimizar sua
											produção rural com precisão e eficiência.</p>
										<div class="pricing">
											<p class="price"><span>R$4890,00</span></p>
										</div>
										<div class="bottom-area d-flex px-3">
											<div class="m-auto d-flex">
												
												<a href="#"
													class="buy-now d-flex justify-content-center align-items-center mx-1">
													<span><i class="ion-ios-cart"></i></span>
												</a>
												
											</div>
										</div>
									</div>
								</div>
							</div>



							<br>
							<br>
							<div class="row justify-content-center  product" data-category="tecnologia" data-name="Trator Inteligente SF900" data-price="594000.00" data-img="images/trator.png">
								<div class="col-md-12 d-flex align-items-center ftco-animate">

									<div class="col-md-6">
										<img class="img-fluid" src="images/trator.png"
											alt="Suplemento Mineral Creatina 1kg">
									</div>


									<div class="col-md-6">
										<h3>Trator Inteligente SF900</h3>
										<p class="subtitulo">Disponibilizamos uma tecnologia para facilitar a
											agricultura: o
											trator que roteiriza o campo e percorre trajetos sem precisar de operador.
											Planta e
											semea automático com eficiência. Colhe automaticamente as plantas no horário
											certo.
											Ele oferece uma economia de tempo e custo além de melhorar a eficiência no
											campo.
										</p>
										<div class="pricing">
											<p class="price"><span>R$594.000</span></p>
										</div>
										<div class="bottom-area d-flex px-3">
											<div class="m-auto d-flex">
												
												<a href="#"
													class="buy-now d-flex justify-content-center align-items-center mx-1">
													<span><i class="ion-ios-cart"></i></span>
												</a>
												
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row mt-5">
					</div>
				</div>
			</section>
		</div>

		<!-- Seção do Carrinho -->
		<div class="cart-section">
			<div class="cart-header">
				<h3>Carrinho de Compras</h3>
				<button class="btn-cart-close">&times;</button>
			</div>
			<div class="cart-body">
				<table class="table-cart table">
					<thead>
						<tr>
							<th></th>
							<th></th>
							<th>Produto</th>
							<th>Preço</th>
							<th>Quantidade</th>
							<th>Total</th>
						</tr>
					</thead>
					<tbody>
						<!-- itens carrinho aqui -->
					</tbody>
				</table>
			</div>
			<div class="cart-footer">
				<div class="cart-total">
					<h3>Total: R$0.00</h3>
				</div>
				<div class="cart-actions">
					<a href="/cart" class="btn btn-primary">Ver Carrinho Completo</a>
					<button class="btn btn-success" onclick="finalizarCompra()">Finalizar Compra</button>
				</div>
			</div>
		</div>